.product-view {
  background-color: $color-white;

  &__content {
    overflow-x: auto;
    background-color: $color-white;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2.8rem 0;
    display: flex;
  }

  &__img--big {
    width: 45rem;
    height: 45rem;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &-list {
    width: 45rem;
    overflow-x: auto;
    margin: 1.5rem 0 2rem;
  }

  &-list,
  &__content {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__thumbnail-color,
  &__thumbnail-img {
    display: flex;
  }

  &__thumbnail-color,
  &__size-box,
  &__quantity-input {
    margin: 0.5rem 0 1.5rem;
  }

  &__thumbnail-img {
    justify-content: center;
  }

  &__thumbnail {
    display: inline-block;
    margin-right: 0.5rem;
    width: 5rem;
    height: 5rem;

    &.active {
      border: 1px solid $color-primary;
    }
    & > img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__details {
    margin-left: 3.2rem;
    width: 71.8rem;
  }

  &__term {
    font-size: 12px;
  }

  &__desc {
    font-size: 12px;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 400;
    width: fit-content;
    max-width: 60rem;
    line-height: 1.9rem;
    margin-bottom: 1rem;
  }

  &__size-box {
    text-align: center;
    display: flex;
  }

  &__size {
    padding: 0 1.2rem;
    border: 1px solid #ccc;
    font-size: 1.4rem;
    margin-right: 1.2rem;

    &.active {
      border: 1px solid $color-primary;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__btn-box {
    display: flex;
  }

  &__btn {
    margin-right: 1rem;

    &--cart {
      width: auto;
      padding: 0.8rem 2.4rem;
      background-image: none;
      border: 10px solid;
      border-image-slice: 1;
      border-width: 3px;
      border-image-source: linear-gradient(
        to left,
        $color-primary,
        $color-primary-dark
      );
    }

    &.active .icon {
      fill: orangered;
    }
  }
}
